#container-pai{
    background-color:rgb(129, 129, 129) ;
    text-align: center;
    display: flex; /*todos na mesma linha*/

    justify-content: center; 
    /*Controla como os filhos ficarão dispostos, espaçamento, etc. = Eixo principal*/
    /*Tipos:
    (padrão:flex-start:Alinha no inicio);
    center: alinha no centro;
    flex-end:Alinha no final;
    space-between: separa o maximo possivel;
    space-around: Espaçamento igual entre os itens;
    space-evenly: Espaçamento igual entre os itens incluindo as bordas;
    */

    height: 300px; /*altura*/

    flex-direction:row;
    /*eixo principal = Controla a direção que os filhos serão dispostos; 
    padrão:row(linha);
    column(coluna);
    row-reverse(inverte);
    column-reverse(inverte a coluna).
    */

    align-items:center; 
    /*Eixo secundario = padrão: stretch(estica) 
    flex-start: Alinha os itens no topo;
    flex-end: Alinha no final;
    center: Alinha no centro;
    baseline: Alinha com a base de texto;
    */

    flex-wrap:wrap;
    /*Define se os itens quebram ou não a linha
    Tipos:
    nowrap:Eles não vão um para baixo do outro;
    wrap-reverse: Vão um para baixo do outro ao contrario;
    */

    gap: 15px; /*Só da espaçamento entre os filhos/parecido com margin*/
}

.container-filho{
padding: 20px;
}

#filho-1{
background-color: aliceblue;
flex-grow: 0;
}

#filho-2{
background-color: black;
color: aliceblue;
flex-grow: 0; /*Crescimento em relação aos outros*/
align-self:auto;/*Alinha diferente dos outros. Padrão:auto*/
order: 1; /*Troca a ordem*/
}

#filho-3{
background-color: rgba(0, 0, 0, 0.433);
flex-grow: 0;
}
